.main{
    border: 5px solid orange;
    position: sticky;
    z-index: 1;
}
img{
    border: 2px solid black;
    border-radius: 60%;
    height: 100px;
    width: 100px;
    border-radius: 60%;
    vertical-align: middle;
    margin: 14px;
}
h2{
    font-size: 50px;
    color: red;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 6px 2px 2px black;
    display: inline;
    vertical-align: middle;
    margin: 23px;
}